<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZConnect.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>z-cloud.zwave.me</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9087</value>
            </setting>
            <setting name="Cert" serializeAs="String">
                <value>..\Certificates\cert.pem</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>..\Certificates\cert.key</value>
            </setting>
            <setting name="CaCert" serializeAs="String">
                <value>..\Certificates\cacert.pem</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
        </ZConnect.Properties.Settings>
    </userSettings>
</configuration>